<hr>
<!--- Connect -->
 <div class="container-fluid padding">
   <div class="row text-center padding">
     <div class="col-12">
       <h2>קישורים נוספים</h2>
     </div>
     <div class="col-12 social padding">
       <a href="https://www.facebook.com/iris.madhala.3" target="_blank"><i class="text-center fab fa-facebook"></i></a>
       <a href="https://www.linkedin.com/in/iris-gamliel-1a83ba166/" target="_blank"><i class="text-center fab fa-linkedin"></i></a>
     </div>
   </div>
   </div>
   
 
   
   <!--- Footer -->
   <footer>
     <div class="container-fluid padding">
     <div class="row text-center">
       <div class="col-md-4">
         <hr class="light">
         <h5>צור קשר</h5>
         <hr class="light">
         <p>איריס מדהלה גמליאל</p>
         <p>irisgamliel65@gmail.com</p>
         <p>052-802-0764</p>
       </div>	
       <div class="col-12">
         <hr class="light-100">
         <h5>&copy; IrisGamliel.com</h5>
       </div>
     </div>
     </div>
     </footer>