<div class="container-fluid">
    <div class="row jumbotron first">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <h1>היכן גרו? </h1>
        </div>
          
    </div>

    <div class="row jumbotron second">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <h1 class="text-center">אורח חייהם? </h1>
        </div>
    </div>

    <div class="row jumbotron third">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <h1 >עולמם הפנימי? </h1>
        </div>
    </div>

    <div class="row jumbotron fourth">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <h1 class="text-center">התנאים בהם חי? </h1>
        </div>
    </div>
    <div class="text-left">
        <a href='https://www.freepik.com/vectors/background'>Background vector created by brgfx - www.freepik.com</a>
         </div>
</div>