.first{
    background-image: url("https://i.imgur.com/g9N78iA.jpg");
    background-size: cover;
}
.second{
    background-image: url("https://i.imgur.com/g9N78iA.jpg");
    background-size: cover;
}
.third{
    background-image: url("https://i.imgur.com/g9N78iA.jpg");
    background-size: cover;
}
.fourth{
    background-image: url("https://i.imgur.com/g9N78iA.jpg");
    background-size: cover;
}
