<div class="container-fluid">
    <div class="row jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <h1>כנסי מורשת ואירועים משפחתיים </h1>
            <hr>
            <p>"ביורשים בני הדור השני והשלישי" נחשף לתרבות חדשה. </p>              
            <p>על פי מחקרים חשיפה לתרבויות אחרות משפרת את חיינו , היא הופכת את אותנו לאנשים שאוהבים את חייהם וחיים בשלום עם הסביבה. תרבות חדשה היא כמו שפה חדשה, מזון חדש , היא מפגישה אותנו עם אנשים בעלי דפוס חשיבה שונה , ההכרות איתם תהפוך אותנו לפחות מקובעים ויותר יצירתיים. </p>              
            <p>נתחיל עם: </p>              
            <p>1. הכרות עם תרבותו של האחר.</p>              
            <p>2. הכרות עם תרבותם של אבותינו, נתוודע להיסטוריה שלהם, נבנה את אילנות היוחסין, נכיר את "חזאי מזג האויר", נלך במסע, נסתגל ונתאקלם בארץ החדשה ולבסוף ננהל את דו השיח המרתק בין הדורות: הראשון, השני והשלישי.</p>              
            <p>3. נכיר את קולו הייחודי של בן הדור השני.</p>
        </div>
        <p class="text-left">
            <a href="https://www.freepik.com">designed by Pch.vector - Freepik.com</a></p>
    </div>
    
</div>